<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.dao.mapper.UserMapper">
	

	
	<select id="select" parameterType="String" resultType="users">
		SELECT * FROM USERS WHERE USER_ID=#{obj}
	</select>
	<select id="selectall" resultType="users">
		SELECT * FROM USERS
	</select>
	
	
	<insert id="insert" parameterType="users">
	
	</insert>
	
	<update id="update" parameterType="users">
	
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM USERS WHERE ID=#{obj}
	</delete>
	
</mapper>






